@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
	--primary-color: #43affc;
	--text-color: #fff;
	--input-color: #4a90e2;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: #f1f5f8;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main {
	width: 65vw;
	margin: 0 auto;
	padding: 2rem;
}

section {
	background-color: #fff;
	border-radius: 0.5rem;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	padding: 2rem;
	margin-bottom: 2rem;
}

.container {
	text-align: center;
}

.heading {
	color: var(--primary-color);
	font-size: 3rem;
	margin-bottom: 1rem;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.input {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

label {
	font-size: 1.6rem;
	color: var(--text-color);
	margin-right: 1rem;
}

input {
	border: none;
	background-color: #f7f9fb;
	padding: 0.5rem 1rem;
	border-radius: 0.3rem;
	font-size: 1.6rem;
	color: var(--input-color); /* Änderung der Schriftfarbe auf Blau */
	margin-right: 1rem;
	width: 12rem;
}

button {
	border: none;
	background-color: var(--primary-color);
	color: var(--text-color);
	padding: 0.5rem 2rem;
	font-size: 1.6rem;
	border-radius: 0.3rem;
	cursor: pointer;
	border: 1px solid transparent;
	transition: background-color 0.5s, color 0.5s, border 0.5s;
}

button:hover,
button:active,
button:focus {
	background-color: var(--text-color);
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

#weatherSection {
	display: flex;
	justify-content: space-between;
}

article {
	background-color: #fff;
	border-radius: 0.5rem;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	padding: 2rem;
	flex-basis: 45%;
	margin-bottom: 2rem;
	text-align: center;
	max-width: 20%;
}

article:last-child {
	flex-basis: 100%;
}

img {
	max-width: 100%;
}

footer {
	background-color: var(--primary-color);
	color: var(--text-color);
	text-align: center;
	padding: 1rem;
	font-size: 1.4rem;
	border-radius: 0.5rem;
}

footer small span {
	color: red;
}

#weatherSection div {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#weatherSection div:last-child {
	margin-left: auto;
}

figcaption {
	font-size: 2rem;
	font-weight: 500;
}
h3 {
	font-size: 1.7rem;
	text-decoration: underline;
}
p {
	font-size: 1.4rem;
}
