@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --text_light: #fff;
    --bg-color: #43affc;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@font-face {
    font-family: ;
    src: url("");
    text-decoration: var(--text_light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
  }

  h1{
    display: flex;
    justify-content: center;
    color: var(--text_light);
    font-size: 8rem;

  }

  button {
    cursor: pointer;
  }

a {
    
}
section{
    border: dotted;
    
}

button,
input {
  border: dotted black;
  background: none;
  outline: none;
  color: inherit;
  font-size: 3rem;

}

.input {
    display: flex;
    justify-content: center;
    color: var(--text_light);
}

.info {
    display: flex;
    justify-content: center;
    color: var(--text_light);
}

.heading {
    
}

body {
    background-color: var(--bg-color);
}

footer {
    color: var(--text_light);
    display: flex;
    justify-content: flex-end;
    
}
